body {

/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */background-color: #608a84;
background-image: url("http://www.transparenttextures.com/patterns/texturetastic-gray.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */

}

.header {
	position:relative;
	height:200px;
	/* background:#DCB599; */
}

.header>div{
	    position: absolute;
    display: inline-block;
    margin-left: 300px;
    margin-top: 80px;
}

.header:after{
	content: url("../images/banner.png");
	z-index: -1;
       display:block;
       position:relative;
      /* top: -100px; */
}

.main>div{
	margin-top:10px;
	margin-bottom:30px;
}
#sidebar{

 position: -webkit-sticky;  // required for Safari
    position: sticky;
    top: 0; // required as well.
	
}
#sidebar:before,
#sidebar:after {
    content: '';
    display: table;
}

#sidebar>div{
	
	padding:15px 5px;
	background:#B47D04;
margin-top:10px;
	margin-bottom:30px;	
	
}
.letter {
     background: #DCCD99;
	background:
		-webkit-gradient(
			linear,
			left top, left bottom,
			from(#B47D04),
			color-stop(2%, #DCCD99)
		);
	background:
		-moz-repeating-linear-gradient(
			top,
			#DCCD99,
			#DCCD99 38px,
			#81cbbc 40px
		);
	background:
		repeating-linear-gradient(
			top,
			#DCCD99,
			#DCCD99 38px,
			#81cbbc 40px
		);		
	-webkit-background-size: 100% 40px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  margin: 0px auto 0;
  max-width: 550px;
 
  padding: 44px 24px;
  position: relative;
  
}
.letter:before, .letter:after {
	    background: #DCCD99;
	background:
		-webkit-gradient(
			linear,
			left top, left bottom,
			from(#B47D04),
			color-stop(2%, #DCCD99)
		);
	background:
		-moz-repeating-linear-gradient(
			top,
			#DCCD99,
			#DCCD99 38px,
			#81cbbc 40px
		);
	background:
		repeating-linear-gradient(
			top,
			#DCCD99,
			#DCCD99 38px,
			#81cbbc 40px
		);		
	-webkit-background-size: 100% 40px;
  content: "";
  height: 98%;
  position: absolute;
  width: 100%;
  z-index: -1;
}
.letter:before {

  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  left: -5px;
  top: 4px;
  transform: rotate(-2.5deg);
}
.letter:after {
 
  box-shadow: 0 0 3px rgba(0,0,0,0.2);
  right: -3px;
  top: 1px;
  transform: rotate(2.4deg);
}
.notepad {
    font-family: 'Handlee', cursive;
    padding: 15px 14px;
    margin: 15px auto;
    
    height: 100%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);

    background: #DCCD99;
	background:
		-webkit-gradient(
			linear,
			left top, left bottom,
			from(#B47D04),
			color-stop(2%, #DCCD99)
		);
	background:
		-moz-repeating-linear-gradient(
			top,
			#DCCD99,
			#DCCD99 38px,
			#81cbbc 40px
		);
	background:
		repeating-linear-gradient(
			top,
			#DCCD99,
			#DCCD99 38px,
			#81cbbc 40px
		);		
	-webkit-background-size: 100% 40px;
}
p {
    font-size: 28px;
    line-height: 41px;
}




